/writing/tangrams_cache
*.nb.html
/writing/tangrams-old_cache
*.DS_Store
*~
*RData
*Rhistory
cogsci_cache
data/colorReference/clickedObj/node_modules/
experiments/node_modules/
models/node_modules/
models/.ipynb_checkpoints/
.Rproj.user
analysis/.ipynb_checkpoints/
PMIbootstrap.csv
matchAndPMI.csv
posTagged.csv
analysis/shapeReferenceOutlines/jpgs/*
cogsci.pdf
cogsci.tex
*.aux
*.fff
*.toc
*.ttt
*.log
*.bbl
*.blg
*.synctex.gz
*.sublime-*
/writing/cogsci/figs/*
packrat/lib*/
packrat/src/
auth.json
credentials.py
credentials.pyc
__pycache__
*.png
.ipynb_checkpoints